.cloud/
.storage/
deps/
custom_components/
www/community/
secrets.yaml
known_devices.yaml
*.assistant_herrenrunde_gmail_com
*.conf
*.cookies
*.db
*.data
*.HA_VERSION
*.json
*.log
*.sh
*.token
*.uuid
gactions
core
google_calendars.yaml