# Files with personal details
*.crt
*.csr
*.cprof
*.key
*.log
*.log.*
.google_maps_location_sharing.cookies.cloosquentin2_gmail_com
.uuid
.shopping_list.json
.google.token
.omv_cookies.json
core
creds.data
gactions
SERVICE_ACCOUNT.JSON
GA_SERVICE_ACCOUNT.json
aircast.xml
icloud/
google_assistant/
google_calendars.yaml
groups.yaml
scripts/
hass-emulated-hue/
home-assistant.db
home-assistant_v2.db
home-assistant_v2.db-*
html5_push_registrations.conf
harmony_16148850.conf
ip_bans.yaml
known_devices.yaml
phue.conf
plex.conf
pyozw.sqlite
secrets.yaml
tradfri.conf
aircast.xml
blueprints/
image/
config/
double-take/
python_scripts/
faces/
frigate.yml
glances/
.storage/
.storage
.ssh
storage
*.db-journal
*.pid
tts
deps
lib
snapshots/
statistics/
wifi-qr.png
video-camera.png
zigbee.db
zigbee.db-shm
zigbee.db-wal
havenv
venv
.venv
.HA_VERSION
known_hosts
.ha_run_lock

# Log files
home-assistant.log
ozw_log.txt
watchman_report.txt

# Development files
custom_components/
.pre-commit-config.yaml
.prettierrc.yaml
.yamllint
