---
# https://home-assistant.io/docs/ha_configuration/basic/
homeassistant:
  name: "Home"
  latitude: !secret "latitude"
  longitude: !secret "longitude"
  currency: "EUR"
  language: "de"
  country: "DE"
  elevation: 194
  unit_system: "metric"
  time_zone: !secret "time_zone"
  auth_providers:
    - type: "homeassistant"
  external_url: !secret "external_url"
  internal_url: !secret "internal_url"
  packages: !include_dir_named "integrations"
  allowlist_external_dirs: ["/config/"]

# https://www.home-assistant.io/integrations/assist_pipeline/
assist_pipeline:

# https://www.home-assistant.io/docs/automation/yaml/
automation: !include "automations.yaml"

# https://www.home-assistant.io/integrations/scene/
scene: !include "scenes.yaml"

# https://www.home-assistant.io/integrations/script/
script: !include "scripts.yaml"

# https://home-assistant.io/components/http/
# Note: trusted_proxies must match with the Traefik Proxy Docker Network(s)!
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.17.0.1
    - 172.17.0.2
    - 172.17.0.3
    - 172.17.0.4
    - 127.0.0.1
    - ::1

# https://www.home-assistant.io/integrations/frontend/
frontend:
  extra_module_url:
    - "/hacsfiles/hass-hue-icons/hass-hue-icons.js"
    - "/hacsfiles/material-you-utilities/material-you-utilities.min.js"
  themes: !include_dir_merge_named "themes"

panel_custom:
  - name: "material-you-panel"
    url_path: "material-you-configuration"
    sidebar_title: "Material You Utilities"
    sidebar_icon: "mdi:material-design"
    module_url: "/hacsfiles/material-you-utilities/material-you-utilities.min.js"

# https://www.home-assistant.io/lovelace/
lovelace:
  mode: "yaml"
  resources:
    - url: "/hacsfiles/lovelace-valetudo-map-card/valetudo-map-card.js"
      type: "module"
    - url: "/hacsfiles/material-you-utilities/material-you-utilities.min.js"
      type: "module"
    - url: "/hacsfiles/ha-map-card/map-card.js"
      type: "module"
    - url: "https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
      type: "css"

# https://home-assistant.io/docs/ha_configuration/splitting_ha_configuration/
google_assistant: !include "google_assistant/google_assistant.yaml"
