@font-face {
	font-family: "Product Sans";
	src:
		url("/local/fonts/product_sans.woff2") format("woff2"),
		url("/local/fonts/product_sans.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Product Sans Medium";
	src:
		url("/local/fonts/product_sans_medium.woff2") format("woff2"),
		url("/local/fonts/product_sans_medium.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Product Sans Light";
	src:
		url("/local/fonts/product_sans_light.woff2") format("woff2"),
		url("/local/fonts/product_sans_light.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Product Sans Black";
	src:
		url("/local/fonts/product_sans_black.woff2") format("woff2"),
		url("/local/fonts/product_sans_black.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
