{#- Template file for https://github.com/custom-components/readme -#}
# Welcome 👋!

Welcome to my Home Assistant Configuration Backup repository!
This repository is dedicated to managing and backing up my personal Home Assistant configuration.
Home Assistant is an incredibly powerful open-source platform for automating smart home devices, and maintaining a reliable backup of configurations is crucial for ensuring smooth operation and easy recovery in case of any issues.

# Table of contents
1. [Introduction](#introduction)
2. [Installation statistics](#statistics)
2. [Installed componentents](#installed_components)
    1. [Core integrations](#core_integrations)


## Introduction <a name="introduction"></a>

In this repository, I have included most .yaml configurations and assets of my Home Assistant setup to help automate the backup process for my Home Assistant configurations.
The goal is to provide a personal solution that ensures my configurations are regularly saved and easily recoverable.

### Key Features

- **Documentation**: The current configuration is documented with the help of the repository and background information can be provided that may also be of interest to others.
- **Version Control**: Keep track of changes in configurations over time with git versioning.
- **Easy Restoration**: Simply use the repository to restore a large part of the configurations in the event of an error.

## Some statistics about my installation: <a name="statistics"></a>

Description | value
--|--
Installed version | {{ states('sensor.current_version') }}
Total entity objects | {{ states | count }}
{%- set data = namespace(domains=[]) %}
{%- for state in states %}
{%- if state.domain not in data.domains %}
{%- set data.domains = data.domains + [state.domain] %}
{%- endif %}
{%- endfor %}
{%- for domain in data.domains %}
Entities in the [`{{domain}}`](https://www.home-assistant.io/components/{{domain}}) domain | {{states[domain] | count }}
{%- endfor %}

{%- set core_integrations = [
    {
        "key": "binary_sensor",
        "name": "Binary sensor",
        "configuration": "./integrations/binary_sensor.yaml"
    },
    {
        "key": "config",
        "name": "Configuration",
        "configuration": "./integrations/config.yaml"
    },
    {
        "key": "energy",
        "name": "Energy",
        "configuration": "./integrations/energy.yaml"
    },
    {
        "key": "fan",
        "name": "Fan",
        "configuration": "./integrations/fan.yaml"
    },
    {
        "key": "group",
        "name": "Group",
        "configuration": "./integrations/group.yaml"
    },
    {
        "key": "history",
        "name": "History",
        "configuration": "./integrations/history.yaml"
    },
    {
        "key": "homeassistant",
        "name": "Home Assistant core",
        "configuration": "./configuration.yaml"
    },
    {
        "key": "light",
        "name": "Light",
        "configuration": "./integrations/lights.yaml"
    },
] %}

## Installed components: <a name="installed_components"></a>

### Core integrations that I use <a name="core_integrations"></a>

Integrations | Configuration
--|--
{% for integration in core_integrations -%}
[<img src="https://brands.home-assistant.io/_/{{integration.key}}/icon.png" height="24"/>](https://brands.home-assistant.io/_/{{integration.key}}/dark_icon.png#gh-dark-mode-only)[<img src="https://brands.home-assistant.io/_/{{integration.key}}/icon.png" height="24"/>](https://brands.home-assistant.io/_/{{integration.key}}/icon.png#gh-light-mode-only) [{{integration.name}}](https://home-assistant.io/integrations/{{integration.key}}) | {{"[" + integration.configuration + "](" + integration.configuration + ")" if integration.configuration else "Config flow[^1]"}}
{% endfor -%}

{%- set custom_categories = [
    {
        "key": "integration",
        "name": "Custom integrations"
    },
    {
        "key": "plugin",
        "name": "Lovelace plugins"
    },
    {
        "key": "theme",
        "name": "Themes"
    }
] %}

{% for category in custom_categories -%}
{%- set entries = hacs_components | selectattr("category", "eq", category.key) | selectattr("installed", "eq", True) | list -%}
{% if entries | count != 0 %}

### The custom {{category.name}} that I use
{{category.name}} | Description | Version
--|--|-- {% for entry in entries -%}
{% if entry.installed %}
{% if entry.category == "integration" -%} [<img src="https://brands.home-assistant.io/_/{{entry.domain}}/icon.png" height="24"/>](https://brands.home-assistant.io/_/{{entry.domain}}/dark_icon.png#gh-dark-mode-only)[<img src="https://brands.home-assistant.io/_/{{entry.domain}}/icon.png" height="24"/>](https://brands.home-assistant.io/_/{{entry.domain}}/icon.png#gh-light-mode-only) {%- endif %} [{{entry.name}}]({{entry.documentation}}) | _{{entry.description}}_ | {{entry.installed_version}} {% endif -%}
{%- endfor -%}
{% endif -%}
{%- endfor %}
